#Users wished to be notified separated by ""

#Users="opalka@gmail.com!6179019203@msg.fi.google.com!5082870190@tmomail.net
Users="opalka@gmail.com!6179019203@msg.fi.google.com"
Logfile=~/checkTN.log                               # Location of logfile
Notify=~/checkTN.notify                             # Location of the file to check if already notified
checkTMP=/tmp/checkTN.out                           # tmp file file containing the message
Acct="xxxxxxx@gmail.com:yyyyyyy"                    # SMTP account configured by user
From="xxxxxx@gmail.com"                             # From email address

